<head>

  <title>
    {% if page.title == "Home" %}
      {{ site.data.settings.title }} | {{ site.data.settings.tagline }}
    {% else %}
      {{ page.title }} | {{ site.data.settings.title }}
    {% endif %}
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/main.css">
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/syntax.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quattrocento+Sans">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
<script>
!function(e,n,t,a,s,i,p,u,c){e[s]||((p=e[s]=function(){p.process?p.process.apply(p,arguments):p.queue.push(arguments)}).queue=[],p.t=1*new Date,(u=n.createElement(t)).async=1,u.src="//8o56n5rq21.execute-api.us-west-2.amazonaws.com/prod/static/num-pix.min.js?t="+864e5*Math.ceil(new Date/864e5),(c=n.getElementsByTagName(t)[0]).parentNode.insertBefore(u,c))}(window,document,"script",0,"numpix"),numpix("init","ID-XXXXXXXX"),numpix("event","pageload");
</script>
<noscript>
    <img src="//8o56n5rq21.execute-api.us-west-2.amazonaws.com/prod/num-pix.gif?campaign=ID-XXXXXXXX">
</noscript>
  {% include google_analytics.html %}

</head>
